/* ----------------------------------------------------
------------------------GENERAL------------------------
---------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 80%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

/* ----------------------------------------------------
------------------------NAV-------------------------
---------------------------------------------------- */

.cont-nav{
    width: 10vh;
    height: 10vh; 
    transition: .4s all;
    background-color: hsl(0, 0%, 20%);   
}

.cont-list{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: hsl(0, 0%, 15%);
    vertical-align: middle;
}

ul{
    justify-content: space-around;
    align-content: center;
}

li{
    margin: 10vw;
    padding: 2vw;
    list-style: none;
    text-align: center;
    transition: .3s all;
    border-bottom: 1vw solid hsl(0, 0%, 15%);
}

li:hover {
    border-bottom: 1vw solid hsl(116, 49%, 43%);
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 80%);
    transition: .3s all;
}

.close{
    top: 0;
    margin: 8vw;
}


.show{
    top: 0;
    margin: 8vw;
    position: fixed;
}

/* ----------------------------------------------------
-------------------------MAIN--------------------------
---------------------------------------------------- */

main{
    margin: 8vw;
    margin-top: 12vw;
}

main div {
    margin-bottom: 8vh;
}

h1, h2, h3{
   color: hsl(116, 49%, 43%);
}

.cont-init{
    text-align: center;
}

.cont-pic{
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    margin-bottom: 8vh;
    /* background-image: url("/img/photo.jpg"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
}

/* ----------------------------------------------------
------------------------FOOTER-------------------------
---------------------------------------------------- */

footer{
    width: 100vw;
    height: 20vh;
    background-color: hsl(116, 49%, 31%);
    vertical-align: middle;
    font-size: 1rem;
}

.cont-copy{
    margin: 8vw;
    padding-top: 3vw;
    text-align: center;
}

.cont-icon{
    margin: 1vw;
    padding-left: 30vw;
    padding-right: 30vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.icon{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-icon a{
    margin: 1vw;
}

/* .icon-email{
    background-image: url("/img/email.png");
} */

/* .icon-facebook{
    background-image: url("/img/facebook.png");
} */

/* .icon-linkedin{
    background-image: url("/img/linkedin.png");
} */

.icon-github{
    background-image: url("/img/github.png");
}


/* ----------------------------------------------------
--------------------NAV-RESPONSIVE---------------------
---------------------------------------------------- */

@media screen and (min-width: 730px){
    .flex{
        display: flex;
    }

    .cont-nav{
        width: 10vh;
        height: 10vh; 
        transition: none;
        background-color: hsl(0, 0%, 20%);
    }

    .cont-list{
        display: block;
        width: 100vw;
        height: 10vh;
        position: fixed;
        background-color: hsl(0, 0%, 15%);
    }

    .cont-list ul{
        margin-left: 60vw;
        margin-right: 2vw;
        padding-top: 2vw;
    }
    
    .cont-list ul li{
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        transition: none;
        border-bottom: 1vw solid hsl(0, 0%, 15%);
    }
    
    .cont-list ul li:hover {
        border-bottom: 0.2vw solid hsl(116, 49%, 43%);
        transition: .3s;
    }
    
    .cont-list ul li a {
        text-decoration: none;
        color: hsl(0, 0%, 80%);
        transition: none;
    }

    .close{
        display: none;
    }
    
    .show{
        display: none;
    }
}

/* ----------------------------------------------------
-------------------------MAIN--------------------------
---------------------------------------------------- */

@media screen and (min-width: 730px){
    .cont-init{
        text-align: start;
        margin-top: 15vw;
        margin-bottom: 20vw;
    }

    .cont-pic{
        display: block;
        float: right;
        width: 20vw;
        height: 20vw;
        margin-right: 8vw;
        margin-bottom: 8vh;
    }
}

/* ----------------------------------------------------
-------------------FOOTER-RESPONSIVE------------------------
---------------------------------------------------- */

@media screen and (min-width: 730px){
    .cont-copy{
        margin: 5vw;
        padding-top: 3vw;
    }  
    
    .cont-icon{
        margin: 0vw;
    }

    .icon{
        width: 1.5rem;
        height: 1.5rem;
    }
}